@tailwind base;
@tailwind components;
@tailwind utilities;
body{
   background-color: ghostwhite;
}
 img{
    height: 200px;
    width:200px;
 }
 .bgClothes{
  background: rgb(34,193,195);
  background: linear-gradient(90deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
 }
 .bgJewelry{
  background: rgb(131,58,180);
  background: linear-gradient(31deg, rgba(131,58,180,1) 0%, rgba(253,45,45,1) 50%, rgba(252,176,69,1) 100%); 
 }
 .bgElectronics{
   background: rgb(2,0,36);
   background: linear-gradient(115deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 46%, rgba(0,212,255,1) 100%); 
 }